<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Associazione Pet-therapy')"> 
</head>

<body>
	
	<header th:replace="fragments/base.html :: intestazione"></header>

		<h4>Associazione Pet-therapy</h4>
	
	
					
					
					
	
	<!-------------ADMIN-------------->
	    <div th:if="${loggedCredential.role}=='ADMIN'">
	
	
    	
    	<h6>Menu Amministratore</h6>
    
	
					<div>
						<a th:href="@{/percorsoForm}"> Inserisci Percorso </a>
					</div>
					<div>
						<a th:href="@{/elencoPercorsi}"> Visualizza i percorsi </a>
					</div>
					<br>
					<div>
						<a th:href="@{/operatoreForm}"> Inserisci Operatore </a>
					</div>	
					
					<div>
						<a th:href="@{/elencoOperatori}"> Visualizza gli Operatori </a>
					</div>
					
					<div>
						<a th:href="@{'/elencoCani'}"> Visualizza tutti i Cani </a>
					</div>
					<br>
					<div>
						<a th:href="@{/elencoUsers}"> Visualizza gli Users </a>
					</div>
					<br>
					<br>
					<br>
					<div>
						<a th:href="@{/userForm}"> Compila Form </a>
					</div>
					
					<div>
						<a th:href="@{/areaRiservata}"> Area Personale </a>
					</div>
					
					
					
					<br>
	</div>
	
	
	
	 <!-------------UTENTE-------------->
		<div th:unless="${loggedCredential.role}=='ADMIN'">

	    	
	    <h6>Menu Utente</h6>
	    
	    
	
					<div>
						<a th:href="@{/elencoPercorsi}"> Visualizza i percorsi </a>
					</div>
					<div>
						<a th:href="@{/elencoOperatori}"> Visualizza gli Operatori </a>
					</div>
					
					<div>
						<a th:href="@{'/elencoCani'}"> Visualizza tutti i Cani </a>
					</div>
					
					<br>
					
					
					<div>
						<a th:href="@{/userForm}"> Compila Form </a>
					</div>
					
					<div>
						<a th:href="@{/areaRiservata}"> Area Personale </a>
					</div>
					
					<br>
					<br>
	
	</div>
	
	
	
	
	
	
			<div>
				<a th:href="@{/logout}">Logout</a>
		    </div>

		
</body>
</html>