<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title> Associazione Pet-therapy </title>
</head>

<body>

		
	<h4>Associazione Pet-therapy</h4>
	
	<!-------------ADMIN-------------->
		<div th:unless="${role}=='ADMIN'">
	
    	
    	<h6>Menu Amministratore</h6>
    
	
					<div>
						<a th:href="@{/percorsoForm}"> Inserisci Percorso </a>
					</div>
					<div>
						<a th:href="@{/elencoPercorsi}"> Visualizza i percorsi </a>
					</div>
					
					<div>
						<a th:href="@{/operatoreForm}"> Inserisci Operatore </a>
					</div>	
					
					<div>
						<a th:href="@{/elencoOperatori}"> Visualizza gli Operatori </a>
					</div>
					
					<br>
	</div>
	
	
	
	 <!-------------UTENTE-------------->
    <div th:if="${role}=='ADMIN'">

	    	
	    <h6>Menu Utente</h6>
	
	
					<div>
						<a th:href="@{/elencoPercorsi}"> Visualizza i percorsi </a>
					</div>
					<div>
						<a th:href="@{/elencoOperatori}"> Visualizza gli Operatori </a>
					</div>
					
					<br>
	
	</div>
	
	
	
	
	
	
			<div>
				<a th:href="@{/logout}">Logout</a>
		    </div>

		
</body>
</html>