<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	
	<title>Elenco percorsi</title>
</head>

<body>
	<div>
		<h4>Elenco percorsi:</h4>
		<ul>
			<li th:each="percorso : ${elencoPercorsi}">
			
			<a href="percorso.html" th:href="@{'/percorso' + '/' + ${percorso.id}}" 
			th:text="${percorso.nome}">NOME</a>
			<a href="percorso.html" th:href="@{'/percorso' + '/' + ${percorso.id}}" 
			th:text="${percorso.descrizione}">DESCRIZIONE</a>
			<span> --- </span>
			<a href ="percorso.html" th:href="@{'/admin/toDeletePercorso' + '/' + ${percorso.id}}"
			th:text="Cancella">cancella</a>
		
			
			</li> 
			
			
		</ul>
	</div>
		
	<footer>
		<a href="/default"> Home </a>
	</footer>
</body>
</html>