<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Login Form')">
</head>



<body>
<header class="navbar_index">
	<h1>Associazione Pet therapy</h1>
</header>

	<form th:action="@{/login}" method="POST">
		<div >
			
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			
					
			
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			
			
			
				<span><button type="submit"> Login </button></span>
			
		</div>
	</form>

    <footer>
    	<a href="/"> Home </a>
    </footer>
    
  
</body>
</html>