<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title> Dettagli operatore </title>
</head>

<body>
	<div>
		<h4> Dettagli operatore </h4>
		<div>
		
			<span>Nome e cognome: </span>
			<span th:text = "${operatore.nome} + ' ' + ${operatore.cognome}"> NOME COGNOME </span>
			<br>
			<span>Specializzazione: </span>
			<span th:text = "${operatore.specializzazione}"> SPECIALIZZAZIONE </span>
			<br>
			
		</div>
	</div>
	<footer><a href="/default"> Home </a></footer>
</body>
</html>