<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Associazione Pet-therapy: Cancella Operatore')">
</head>

<body class = "body_home">

	<header class="navbar_index">
		<h1>Associazione Pet therapy</h1>
	</header>
	<div>
		<h4>Operatore da cancellare:</h4>
		<div>
			<span th:text = "${operatore.nome}"> NOME </span>
			<span th:text = "${operatore.cognome}"> COGNOME </span>
			<span th:text = "${operatore.specializzazione}"> SPECIALIZZAZIONE </span>
			
		</div>
		
		<div>
			<a href ="operatore.html" th:href="@{'/admin/deleteOperatore' + '/' + ${operatore.id}}">
			<button class="btn btn-warning my-2 my-sm-0" type="submit" th:text="CONFERMA">CONFERMA CANCELLAZIONE</button>
			</a>
		</div>	
	</div>
		
</body>
</html>