<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Conferma Cancellazione</title>
</head>

<body>
	<div>
		<h4>Operatore da cancellare:</h4>
		<div>
			<span th:text = "${operatore.nome}"> NOME </span>
			<span th:text = "${operatore.cognome}"> COGNOME </span>
			<span th:text = "${operatore.specializzazione}"> SPECIALIZZAZIONE </span>
			
		</div>
		
		<div>
			<a href ="operatore.html" th:href="@{'/admin/deleteOperatore' + '/' + ${operatore.id}}"
			th:text="CONFERMA">CONFERMA CANCELLAZIONE</a>
		</div>	
	</div>
		
</body>
</html>